body,html{
  margin: auto;
  width: 100%;
  height: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana;
	font-size: 16px;
	line-height: 1.5;
	background-color: black;
	color: white;
}

input {
    caret-color: red;
  }
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../IMG/font2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: verdana;
  }
  
  .conta {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgb(37, 37, 37);

  }
  
  .brand-logo {
    height: 100px;
    width: 100px;
    background: url(../IMG/logo.png);
    background-size: 100%;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;

  }
  
  .brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: rgb(30, 90, 255);
    letter-spacing: 1px;
  }
  
  .inputs {
    text-align: left;
    margin-top: 30px;
    color: rgb(30, 90, 255);
  }
  
  label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;

  }
  
  button {
    color: white;
    margin-top: 20px;
    background: rgb(30, 90, 255);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }
  
  a {
  
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #1e5aff;

  }
  
  h1 {
    position: absolute;
    top: 0;
    left: 0;
  }

