/* ------------------- Global Styles ------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

a {
	color: #ffffff;
	text-decoration: none;
}

ul {
	list-style: none;
}

body{
	background-color: black;
	overflow-x: hidden;
}

/* ------------------- Header ------------------- */

header {
	background-color: rgb(0, 81, 255);
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.logo h1 {
	font-size: 32px;
}

nav {
	display: flex;
	align-items: center;
}

.nav-container {
	max-width: 100%;
	margin: 0;
}


.nav-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 81, 255);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	z-index: 90;
}

.nav-active {
	transform: translateX(-18%);
}

.nav-links li {
	margin: 20px 0;
}

.nav-links a {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
	color: white;
}

.burger {
	display: block;
	cursor: pointer;
}

.burger-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close {
	display: none;
}

.burger.open .close {
	display: block;
}


.line1, .line2, .line3 {
	width: 30px;
	height: 3px;
	background-color: black;
	margin: 5px;
	transition: transform 0.3s ease-in-out;
	color: white;
}

.burger.open .line1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}

.burger.open .line2 {
	opacity: 0;
}

.burger.open .line3 {
	transform: rotate(45deg) translate(-5px, -5px);
}


/* ------------------- Main ------------------- */

main {
	margin-top: 100px;
}

.faq {
	max-width: 800px;
	margin: auto;
	padding: 50px;
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
	color: white;
	text-align: center;
}

.faq h2 {
	font-size: 32px;
	margin-bottom: 30px;
}

.question {
	margin-bottom: 30px;
	cursor: pointer;
}

.question h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.question p {
	font-size: 18px;
	line-height: 1.5;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.question.open p {
	max-height: 1000px;
	transition: max-height 0.3s ease-in;
}

/* ------------------- Footer ------------------- */

footer {
	background-color: rgb(0, 81, 255);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

/* ------------------- Media Queries ------------------- */

@media (min-width: 768px) {

	nav {
		margin-left: auto;
	}

	.nav-links {
		position: initial;
		flex-direction: row;
		background-color: transparent;
		height: auto;
		width: initial;
		transform: none;
	}

	.nav-links li {
		margin: 0 20px;
	}

	.burger {
		display: none;
	}

	.question p {
		max-height: 0;
	}

	.question.open p {
		max-height: 1000px;
		transition: max-height 0.3s ease-in;
	}

}

